::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #3f78c4;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #3f78c4;
  }

@font-face {
    font-family: RooneySans;
    src: url(../fonts/RooneySans.ttf);
}

body {
    background: #161b22;
    color: #3f78c4;
    font-family: RooneySans;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

#status {
    position: fixed;
    font-size: 14px;
    color: #fc8c03;
    bottom: 0;
    left: 20px;
}

#connection-buttons {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 100px;
    padding: 5px;
}

#connection-buttons button {
    margin-top: 20px;
}

button, button:disabled:hover, button:disabled:active {
    width: 100px;
    padding: 8px;
    background: #21262d;
    border: 1px solid #2a3038;
    border-radius: 5px;
    color: #3f78c4;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background: #2b313b;
    border: 1px solid #343b45;
    color: #4b93f2;
}

button:active {
    background: #3f78c4;
    border: 1px solid #3b7dd4;
    color: #c7cfd7;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:disabled:hover, button:disabled:active {
    cursor: not-allowed;
}

#output {
    position: absolute;
    background: #0d1117;
    border: 1px solid #22282e;
    padding: 5px;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    right: 125px;
    left: 15px;
    top: 65px;
    bottom: 12%;
}

#output p {
    text-align: left;
}

input {
    position: absolute;
    background: #0d1117;
    border: 1px solid #22282e;
    border-radius: 5px;
    color: #c7cfd7;
    padding: 8px;
    font-size: 16px;
    left: 15px;
    right: 15px;
    top: 14px;
    outline: none;
}

input:focus {
    border: 1px solid #3f78c4;
}

input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.invalid:focus {
    border: 1px solid #ed6a5e;
}